<div class="blog-side-widget" id="blog-side-widget">

  <div class="widget-block">
    <h4>Recent Posts</h4>
    <ul>
      {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="widget-block">
    <h4>Categories</h4>
    <ul>
      {% for category in site.categories %}
      <li><a href="{{ '/categories/' | relative_url }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="widget-block">
    <h4>Tags</h4>
    <div class="tag-cloud">
      {% for tag in site.tags %}
      <a class="tag-pill" href="{{ '/tags/' | relative_url }}">{{ tag[0] }}</a>
      {% endfor %}
    </div>
  </div>

</div>